<h1>Solicitudes de moderación</h1>
<div class="jumbotron">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Categoría</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% Administrate.all.each do |r| %>
          <tr>
            <td><%= r.user %></td>
            <td><%= Category.find_by(id: r.category).name %></td>
            <td>botones</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
