  <div class="container">
    <%if user_signed_in?()%>
      <%= link_to("Create Forum", new_post_path(), html_options = {class: "btn btn-primary active"}) %>
    <%end%>
    <div id="main-content" class="col-sm-12">
      <%= render(@posts) %>
    </div>
  </div>