<h3><%= @post.title %></h3>

<div class="jumbotron">
  <div class="row">
    <!-- Mostrar el contenido del post -->
    <h3><%= @post.content %></h3>
    <h5>Creado el: <%= @post.created_at %></h5>
  </div>
</div>

<%= render(@comentarios) %>