<div class="container">
    <h1>Los 10 foros más vistos</h1>
    <h4>Ordenados por número de suscriptores</h4>
    <% ranking = 1%>
    <%for category in @categories do%>
        <div id= <%= ranking%>>
            <%= render(category)%>
        </div>
        <%ranking +=1%>
    <% end %>
</div>
