<div class="container">
  <h1>50 usuarios con mejor reputación</h1>
  <% ranking = 1 %>
  <% for user in @users do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
        <div class="icon-large icon-cup" ></div>
        <strong>#<%= ranking %></strong>
        <%= link_to(image_tag(user.avatar, alt: user.username,size: "50"), profile_path(id: user.id), method: :patch) %>
        <%= user.username %>
        </h2>
      </div>
      <div class="panel-body">
        <span class="badge"><%= user.reputation.to_i %></span> puntos
      </div>
    </div>
    <% ranking +=1%>
  <% end %>
</div>
