<div class="media-heading">
    Comentaron un post que sigues
</div>
<div class="media-content">
  <%post = notification.post%>
  <%= notification.actor.username %> commento en <%=link_to(post.title ,main_app.posts_path(post.id))%>
</div>
