<% post = Post.find(favourite.post.id) %> 
<li>
    <%= link_to(post.title,post_path(post.id)) %>
    <% if favourite.isSubcribe %>
      <% icon = "glyphicon glyphicon-volume-off" %>
    <% else %>
      <% icon = "glyphicon glyphicon-bell" %>
    <% end %>
    <%= link_to("", subscribe_path(favourite.id),
                     html_options = {class: icon , method: :patch})%>
</li>