<div class="container">
  <div class="row">
    <%= link_to("Go to forum", forum_path(), html_options = {class: "btn btn-primary active"}) %>
    <div id="main-content" class="col-sm-12">
      <%= render(@posts) %>
    </div>

  </div>
</div>