<div class="jumbotron">
  <div class="row">
    <h2>Edit post</h2>
    <%= form_tag(:post, url: posts_path(@post), method: "put", class: "form-horizontal") do %>
      <div class="form-group">
        <label>Title</label><br />
        <%= text_field_tag(:title, @post.title, class: "form-control") %>
        <br/>
        <label>Content</label>
        &nbsp;
        <a href="https://github.com/google/styleguide/blob/gh-pages/docguide/style.md" class="badge">
            Markdown style reference
        </a>
        <br/>
        <%= text_area_tag(:content, @post.content, rows: 15, placeholder: "Write your content...",
                          class: "form-control") %>
      </div>
      <div class="actions">
        <%= submit_tag("Save", class: "btn btn-primary active") %>
      </div>
    <% end %>
  </div>
</div>
