<div class="container">
  <h1>Comunidades</h1>
  <!-- Espacio para mostrar las comunidades -->
  <div class="jumbotron">
      <div class="row">
        <%= render(@communities) %>
      </div>
    </div>
</div>