<div class="container">

  <% if user_signed_in?() && current_user.has_role?(:admin)%>
    <div class="alert alert-success" role="alert">
      Herramientas de administrador <br><br>
      <%=
        link_to("Crear comunidad", new_community_path(),
                html_options = {class: "btn btn-primary active"})
      %>
      <%=
        link_to("Solicitudes de moderación (#{Administrate.all.length})",
                administrate_index_path(),
                html_options = {class: "btn btn-terceary active"}
                )
      %>
    </div>
  <%end%>

  <h1>Comunidades</h1>
  <!-- Espacio para mostrar las comunidades -->
  <div class="jumbotron">
      <div class="row">
        <%= render(@communities) %>
      </div>
    </div>
</div>
