<div style="display: inline-block; width: 87%;">
  <h1><%= @posts[0].category.name.capitalize() %></h1>
</div>
<div class="dropdown" style="display: inline-block; width: 5%;">
  <a class="dropdown-toggle icon-link btn btn-default" data-toggle="dropdown" href="#">
    Ordenar por...
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% available = ["relevancia","tiempo","puntos"]%>
    <% for option in available do%>
      <li>
      <%= link_to "#{communities_path()}/#{@posts[0].category.id}#{root_path({order: option})[1,100]}" do%>
        <spam class=''><%= option.capitalize() %></spam>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div class="jumbotron">
  <div class="row">
    <%= render(@posts) %>
  </div>
</div>
